<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    /*
  body {

  background-image: url("{{ url_for('static', filename='169.jpg') }}");
  background-repeat: no-repeat;
  background-size: cover;

}*/

  </style>
 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.rtl.min.css" 
  integrity="sha384-PJsj/BTMqILvmcej7ulplguok8ag4xFTPryRq8xevL7eBYSmpXKcbNVuy+P0RMgq" crossorigin="anonymous">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" media="all">

  <title>Shake&Make</title>
</head>

<body>
  <div id="wrapper">

  <nav style="text-align: left;" class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
         <img src="https://cdn-icons-png.flaticon.com/512/3388/3388607.png" alt="logo" width="30" height="30" class="d-inline-block align-text-top">
          <!--<img src="{{ url_for('static', filename='logotransp.jpg') }}" alt="logo" width="30" height="30" class="d-inline-block align-text-top">--> 
          Shake&Make
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
              <a class="nav-link" href="/createkoktel">Dodaj koktel</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="/createalkohol">Dodaj alkohol</a>
                </li>
                
        </ul>
        </div>
      </div>
    </nav>


<!-- pocetak lijeve strane main-a -->
  <div id="lijeva_strana">

  <p class="kokteli">Kokteli:</p>
  
    
    <div class="accordion accordion-flush m-5" id="accordionFlushExample">
      {% for koktel in koktel %}
      <div class="accordion-item">

        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{koktel.id}}-left"
          aria-expanded="false" aria-controls="flush-collapse{{koktel.id}}-left" accordion-color="bg-dark">
            {{koktel.naslov}}
          </button>
        </h2>
        <div id="flush-collapse{{koktel.id}}-left" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <strong>Sastojci: </strong>
            {{koktel.sastojci}}  <br><br>
          
            <b>Kratke upute za pripremu koktela: </b><br> 
            
            {{koktel.info}} 
            
            <br><br>
            {% if koktel.slika is not none %}
            <div class="slike">

            <img src="{{koktel.slika}}" width="300"/>
            
          </div>

          {%endif%}

          

         
          <form action="/updatekoktel/{{ koktel.id }}" method="GET">
            <button type="submit" class="btn btn-danger btn-sm my-2">Azuriraj</button>
        </form>

          <form action="koktel/delete/{{koktel.id}}" method="POST">
            <button type="submit" class="btn btn-danger btn-sm my-2">Izbriši</button>
          </form>

        

        
            
        </div>
      </div>
    </div>


        {%endfor%}
      
      </div>

  <!--zavrsetak lijeve strane-->
 </div>




<!-- pocetak desne strane main-a -->
<!-- Prikaz alkohola -->
<div id="desna_strana">
  <p class="alkoholi">Alkoholi:</p>
  <div class="accordion accordion-flush m-5" id="accordionFlushExample">
      {% for alkohol in alkohol %}
          <div class="accordion-item">
              <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{alkohol.id}}-right"
                          aria-expanded="false" aria-controls="flush-collapse{{alkohol.id}}-right">
                      {{alkohol.naslov}}
                  </button>
              </h2>
              <div id="flush-collapse{{alkohol.id}}-right" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                      <strong>Vrste: </strong><br>
                      {{alkohol.vrste}}
                      
                      <!-- Tipke za ažuriranje i brisanje alkohola -->
                      <form action="/updatealkohol/{{ alkohol.id }}" method="GET">
                          <button type="submit" class="btn btn-danger btn-sm my-2">Ažuriraj</button>
                      </form>
                      <form action="/alkohol/delete/{{ alkohol.id }}" method="POST">
                          <button type="submit" class="btn btn-danger btn-sm my-2">Izbriši</button>
                      </form>
                  </div>
              </div>
          </div>
      {% endfor %}
  </div>
</div>


<!--zavrsetak desna strane-->
</div>




 <!-- </div>

    </div>
  </div>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

 


<!--kraj wrappera-->
</div>




</body>
</html>
